body{
    background-color: rgba(200,200,200,1);
}
.main-div{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    font-weight: 400;
}
.form-background-img-div{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/695/285/308/finn-the-human-jake-el-perro-hora-de-aventura-adventure-time-wallpaper-preview.jpg);
    opacity: 0.8;
    background-size: 100% 100%;
    filter: blur(4px);
}
.main-div h2{
    text-align: center;
    font-size: 24px;
    /* margin: 0% 0% 1.7% 0%; */
}
.main-div h4{
    margin: 0%;
    font-weight: 100;
    font-size: 14px;
}
.main-div p{
    margin: 0% 0% 1% 0%;
}
.login-image{
    display: block;
    width: 300px;
    height: 450px;
    border-radius: 5px;
}
.credentials-div{
    padding: 2%;
    width: 300px;
    height: 450px;
    background-color: rgba(44,44,44,1);
    display: flex;
    flex-direction: column;
}
.credentials-div div{
    color:white;
    display: flex;
    flex-direction: column;
    margin-top: 3%;   
    position: relative;
    margin-bottom: 6%;
}
.credentials-div i{
    position: absolute;
    top:4px;
    left:6px;
}
.credentials-div div input{
    height: 28px;
    padding-left: 30px;
}
.credentials-div div textarea{
    padding-left: 30px;
}
