.stepsToAdopt {
    margin: 14% 0% 14% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stepsToAdopt h1 {
    color: #00bc8c;
    font-size: 40px;
}
.animation-textdiv {
    display: flex;
    justify-content: center;
}

.stepsAdoptimgDiv {
    width: 40%;
    margin-right: 7%;
}

.stepsAdopt {
    font-family: "Montserrat", sans-serif;
    font-size: 19.4px;
    display: flex;
    flex-direction: column;
    line-height: 37px;
    justify-content: space-evenly;
    width: 50%;
    height: 300px;
}

.stepsAdopt p {
   width: 100%;
}


@media only screen and (max-width:1200px) {
    .stepsToAdopt {
        margin-bottom: 260px;
    }
    .stepsToAdopt {
        margin-bottom: 10%;
    }
    
    .animation-textdiv {
        justify-content: space-between;
    }
    .stepsAdoptimgDiv{
        width: 300px;
        height: 300px;
    }
    .stepsAdopt{
        font-size: 15px;
    }
}
@media only screen and (max-width:1000px) {
    .stepsToAdopt {
        margin-bottom: 260px;
    }

    .stepsAdoptimgDiv{
        width: 200px;
        height: 200px;
    }
    .stepsAdopt{
        
        display: flex;
        font-size: 15px;
    }
}
@media only screen and (max-width:700px) {
    .stepsToAdopt {
        margin-bottom: 260px;
    }

    .stepsAdoptimgDiv{
        width: 150px;
        height: 150px;
    }
    .stepsAdopt{
        font-size: 15px;
    }
}

@media only screen and (max-width:500px) {
    .stepsToAdopt {
        margin-bottom: 260px;
    }

    .stepsAdoptimgDiv{
        width: 100px;
        height: 100px;
    }
    .stepsAdopt{
        font-size: 13px;
    }
}