
.whyAdopt{
    margin: 14% 0% 14% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.whyAdopt h1{
    color: #00bc8c;
    font-size: 40px;
}
.img-textdiv{
    display: flex;
    justify-content: center;
}
.AdoptMeimgDiv{
    width: 30%;
    margin-right: 7%;
}
.adoptMeimg{
    width: 400px;
    height: 400px;
}
.reasons{
    font-family: "Montserrat", sans-serif;
    font-size: 19.4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 300px;
}
@media only screen and (max-width:1200px) {
    .adoptMeimg{
        width: 300px;
        height: 300px;
    }
    .reasons{
        width: 30%;
        font-size: 15px;
    }
}
@media only screen and (max-width:1000px) {
    .img-textdiv{
        flex-direction: column;
        align-items: center;
    }
    .adoptMeimg{
        width: 300px;
        height: 300px;
    }
    .reasons{
        margin-top: 3%;
        margin-left: 6%;
        display: flex;
        width: 80%;
        font-size: 15px;
        /* justify-content:center; */
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:700px) {
    .img-textdiv{
        flex-direction: column;
        align-items: center;
    }
    .adoptMeimg{
        width: 200px;
        height: 200px;
    }
    .reasons{
        margin-top:40px;
        margin-left: 6%;
        display: flex;
        width: 80%;
        font-size: 15px;
    }
}